# Java and Gradle specific files
*.class
*.jar
*.war
*.ear
*.iml
*.log

# Gradle specific files
.gradle/
build/

# IDEA/IntelliJ IDEA specific files
*.iws
*.idea/
out/

# VS Code specific files
.vscode/

# Mac OS specific files
.DS_Store

# Linux/Mac trash files
.Trash-*

# Windows thumbnail cache
Thumbs.db

# Environment files
.env
.env.*

# Java IDE specific files
*.project
*.classpath
/.settings/
